.container-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 50px;

  & .container-chat-header {
    width: 100%;
    height: 50px;

    & h1 {
      font-size: 1.5rem;
    }
  }

  & .container-chat-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;

    & input {
      width: 500px;
      height: 20px;
      padding: 10px;
      font-size: 1.2rem;
      font-family: monospace;
      border-radius: 5px;
      border: 1px solid #ccc;
      outline: none;
    }

    & button {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      border: none;
      color: #aaa;
      cursor: pointer;
    }
  }
}

.container-chat-message {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding: 10px;
  margin-top: 25px;

  & .user {
    width: 50px;
    height: 50px;
    background-color: #aaa;
    border-radius: 50%;
    line-height: 50px;
  }

  & .message {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 50px;
    background-color: #aaa;
    border-radius: 5px;
    line-height: 50px;
  }
}
