.container-lamp {
  width: 100vw;
  height: 100vh;
  position: relative;

  & .container-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 15px;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    & .container-device {
      padding-top: 15px;
      position: absolute;
      display: flex;
      width: fit-content;
      flex-direction: row;
      top: 90%;
      left: 50%;
      transform: translateX(-50%);

      & p {
        font-size: 12px;
        font-weight: bold;
      }
    }


    & button {
      width: 100px;
      height: 20px;
      border-radius: 10px;
      border: none;
      cursor: pointer;

      &:active {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
